.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px; /* Tăng padding */
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  height: 70px; 
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  height: 50px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Tăng khoảng cách */
}

/* Style cho nút đóng góp mới */
.contribute-button {
  padding: 8px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contribute-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.user-greeting {
    color: #555;
}

.logout-button {
  padding: 8px 15px;
  border: 1px solid #d9534f;
  border-radius: 5px;
  background-color: transparent;
  color: #d9534f;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: #d9534f;
  color: white;
}
